// _home.scss
.main-content {
  padding: 0;

  .intro {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-bottom: 2rem;

      &__text {
          max-width: 600px;
      }
  }

  .highlights {
      display: flex;
      justify-content: space-around;
      text-align: center;
      margin-bottom: 2rem;

      .highlight {
          margin: 1rem 0;
      }
  }

  .map {
      text-align: center;

      &__location {
          margin-top: 1rem;
      }
  }
}